name: Add License Header

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  license_header:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fix License Header
        uses: apache/skywalking-eyes/header@main
        with:
          mode: fix

      - name: Apply Changes
        uses: EndBug/add-and-commit@v4
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          author_name: License Bot
          author_email: license_bot@github.com
          message: 'Automatic application of license header'
